{% extends 'templates/app.twig' %}
{% block content %}
<div class="content">
    <div id="containter">
        <h1 class="text-center">{{ company_info.self_name }}</h1>
        <b class="text-center">
            <p>{{company_info.self_address}},</p>
            <p>{{company_info.self_poscode}}, {{company_info.self_city}},</p>
            <p>{{company_info.self_state}}</p>
            <p>Email: {{company_info.self_email}}</p>
            <p>Fax: {{company_info.self_fax}}</p>
            <p>Phone: {{company_info.self_phone}}</p>
        </b>
    </div>
</div>
{% endblock %}
